/* Navbar.css */
.dropdown-menu {
    max-height: 0;
    overflow: hidden;
    transform: translateY(-100%);
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.dropdown-menu.max-h-screen {
    max-height: 100vh;
    transform: translateY(0);
}